.first-container {
    height: 40%;
    width: 80%;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
}

.first-container button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
